@model Insite.Catalog.Content.ProductListPage
@using System.Web.Optimization
@using Insite.WebFramework.Mvc.Extensions

<div class="row main-row product-list category-list">
    <div class="large-12 columns">
        @(Html.Zone(Model, "Content"))
    </div>
</div>