@model InSiteCommerce.Brasseler.ContentLibrary.Pages.BrasselerPaymentOptionsPage
<div class="row main-row payment-options">
    <div class="medium-12 large-12 columns">
        @Html.Zone(Model, "Content")
    </div>
</div>

