@using Insite.WebFramework.Mvc.Extensions
@model Insite.JobQuote.Content.JobQuoteDetailsPage

<div class="row main-row ma-job-quotes">
    <div class="large-12 columns">
        @Html.Zone(Model, "Content")
    </div>
</div>