<connectionStrings>
  <add name="InSite.Commerce" connectionString="Server=ADA-161;Integrated Security=true;Initial Catalog=Insite.Commerce.Brasseler-UAT;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
  <add name="InSite.Commerce.Admin" connectionString="Server=ADA-161;Integrated Security=true;Initial Catalog=Insite.Commerce.Brasseler-UAT;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
  <add name="InSite.Commerce.Extensions" connectionString="Server=ADA-161;Integrated Security=true;Initial Catalog=Insite.Commerce.Brasseler-UAT;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
</connectionStrings>
