@model Insite.OrderApproval.Content.OrderApprovalDetailPage
@using Insite.WebFramework.Mvc.Extensions

<div class="row main-row ma-order-approval-details">
    <div class="large-12 columns">
        @(Html.Zone(Model, "Content"))
    </div>
</div>