@using Insite.WebFramework.Mvc.Extensions
@model Insite.Account.Content.ResetPasswordPage

<div class="row main-row ma-settings">
    <div class="large-12 columns">
        @(Html.Zone(Model, "Content"))
    </div>
</div>