<div>
    <div class="address-first-name" ng-if="addressFields.firstName.isVisible">
        <brasseler-address-field field-label="{{addressFields.firstName.displayName}}"
                                 field-name="{{prefix}}firstname"
                                 field-value="address.firstName"
                                 validation="address.validation.firstName"
                                 helper-text="[% translate 'Enter First Name' %]"
                                 is-read-only="isReadOnly"
                                 is-firstname="true">
        </brasseler-address-field>
    </div>
    <div class="address-last-name" ng-if="addressFields.lastName.isVisible">
        <brasseler-address-field field-label="{{addressFields.lastName.displayName}}"
                                 field-name="{{prefix}}lastname"
                                 field-value="address.lastName"
                                 validation="address.validation.lastName"
                                 helper-text="[% translate 'Enter Last Name' %]"
                                 is-read-only="isReadOnly"
                                 is-lastname="true">
        </brasseler-address-field>
    </div>
    <div class="address-company-co" ng-if="addressFields.companyName.isVisible">
        <brasseler-address-field field-label="{{addressFields.companyName.displayName}}"
                                 field-name="{{prefix}}companyName"
                                 field-value="address.companyName"
                                 validation="address.validation.companyName"
                                 helper-text="[% translate 'Enter Company or C/O Name' %]"
                                 is-read-only="isReadOnly"
                                 is-companyname="true">
        </brasseler-address-field>
    </div>
    <div class="address-add-1" ng-if="addressFields.address1.isVisible">
        <!--BUSA-1061 added new directive to limit api call for Address1 and Address2 start-->
        <brasseler-address-field-validate field-label="{{addressFields.address1.displayName}}"
                                          field-name="{{prefix}}address1"
                                          field-value="address.address1"
                                          validation="address.validation.address1"
                                          helper-text="[% translate 'Enter Address1' %]"
                                          is-read-only="isReadOnly"
                                          is-address1="true">
        </brasseler-address-field-validate>
        <!--BUSA-292  : Shipping Address Accepts PO Box in Address 1 Field-->
        <label class="{{prefix}}-add1-error" for="{{prefix}}address1">[% translate 'PO Box is invalid for Address1.' %]</label>
    </div>
    <div class="address-add-2" ng-if="addressFields.address2.isVisible">
        <brasseler-address-field-validate field-label="{{addressFields.address2.displayName}}"
                                          field-name="{{prefix}}address2"
                                          field-value="address.address2"
                                          validation="address.validation.address2"
                                          helper-text="[% translate 'Enter Address2' %]"
                                          is-read-only="isReadOnly"
                                          is-address1="true">
        </brasseler-address-field-validate>
        <label class="{{prefix}}-add2-error" for="{{prefix}}address2">[% translate 'PO Box is invalid for Address2.' %]</label>
        <!--BUSA-1061 added new directive to limit api call for Address1 and Address2 end-->
    </div>
    <div class="address-country" ng-if="addressFields.country.isVisible">
        {{::addressFields.country.displayName}}
        <span class="redTxt" ng-show="address.validation.country.isRequired">*</span>
        <select id="{{prefix}}country" name="{{prefix}}country"
                ng-disabled="address.validation.country.isDisabled || isReadOnly"
                ng-model="address.country"
                ng-options="country.name for country in countries"
                data-rule-required="{{address.validation.country.isRequired}}"
                data-msg-required="{{::'[% siteMessage 'Field_Required' EscapeSingleQuotes %]'.replace('{0}', addressFields.country.displayName)}}">
            <option value="">[% translate 'Select Country' %]</option>
        </select>
    </div>
    <div class="address-state-prov" ng-if="address.country && address.country.states.length > 0">
        {{::addressFields.state.displayName}}
        <span class="redTxt" ng-show="address.country && address.country.states.length > 0">*</span>
        <select id="{{prefix}}state" name="{{prefix}}state"
                ng-disabled="address.validation.state.isDisabled || isReadOnly"
                ng-model="address.state"
                ng-options="state.name for state in address.country.states"
                data-rule-required="{{address.country && address.country.states.length > 0}}"
                data-msg-required="{{::'[% siteMessage 'Field_Required' EscapeSingleQuotes %]'.replace('{0}', addressFields.state.displayName)}}">
            <option value="">[% translate 'Select State' %]</option>
        </select>
    </div>
    <div class="address-city" ng-if="addressFields.city.isVisible">
        <brasseler-address-field field-label="{{addressFields.city.displayName}}"
                                 field-name="{{prefix}}city"
                                 field-value="address.city"
                                 validation="address.validation.city"
                                 helper-text="[% translate 'Enter City' %]"
                                 is-read-only="isReadOnly"
                                 is-city="true">
        </brasseler-address-field>
    </div>
    <div class="address-zip-postal">
        <!--BUSA-827 : Space In Postal Code For Canada-->
        <div ng-if="countries[0].abbreviation == 'US'">
            <brasseler-address-field field-label="[% translate 'Postal Code' %]"
                                     field-name="{{prefix}}postalcode"
                                     field-value="address.postalCode"
                                     validation="address.validation.postalCode"
                                     helper-text="[% translate 'Enter Postal Code' %]"
                                     is-read-only="isReadOnly"
                                     is-postal="true">
            </brasseler-address-field>
        </div>
        <div ng-if="countries[0].abbreviation != 'US'">
            <brasseler-address-field field-label="{{addressFields.postalCode.displayName}}"
                                     field-name="{{prefix}}postalcode"
                                     field-value="address.postalCode"
                                     validation="address.validation.postalCode"
                                     helper-text="[% translate 'Enter Postal Code as 'xxx xxx'' %]"
                                     is-read-only="isReadOnly">
            </brasseler-address-field>
        </div>
        <!--BUSA-827 : Space In Postal Code For Canada-->
    </div>
    <div class="address-phone" ng-if="addressFields.phone.isVisible">
        <brasseler-address-field field-label="{{addressFields.phone.displayName}}"
                                 field-name="{{prefix}}phone"
                                 field-value="address.phone"
                                 validation="address.validation.phone"
                                 is-read-only="isReadOnly"
                                 helper-text="[% translate 'Enter Phone Number' %]"
                                 is-phone="true">
        </brasseler-address-field>
    </div>
    <div class="address-email" ng-if="showEmail === 'true'">
        <brasseler-address-field field-label="{{addressFields.email.displayName}}"
                                 field-name="{{prefix}}email"
                                 field-value="address.email"
                                 validation="address.validation.email"
                                 is-read-only="isReadOnly"
                                 helper-text="[% translate 'Enter Email Address' %]"
                                 is-email="true">
        </brasseler-address-field>
        <div class="addy-note">[% translate 'Order information will be sent here.' %]</div>
    </div>
</div>