@using Insite.WebFramework.Mvc.Extensions
@model Insite.Account.Content.MyAccountAddressPage

<div class="row main-row ma-addresses">
    <div class="medium-12 large-12 columns">
        @Html.Zone(Model, "Content")
    </div>
</div>