@using Insite.WebFramework.Mvc.Extensions
@model Insite.Cart.Content.CartPage

<div class="row main-row checkout-cart">
    <div class="large-12 columns">
        @Html.Zone(Model, "Content")
    </div>
</div>