@using Insite.WebFramework.Mvc.Extensions
@model Insite.Cart.Content.SavedOrderListPage

<div class="row main-row ma-saved-orders">
    <div class="large-12 columns">
        @Html.Zone(Model, "Content")
    </div>
</div>