@using Insite.WebFramework.Mvc.Extensions
@model Insite.Account.Content.ExpiredAccountActivationLinkPage

<div class="row main-row expired-link">
    <div class="medium-12 large-12 columns">
        @Html.Zone(Model, "Content")
    </div>
</div>