
<isc-language-preference></isc-language-preference>
<h2></h2>
<script type="text/ng-template" id="LanguagePreference-LanguagePreferenceView">
    [% partialView 'LanguagePreference-LanguagePreferenceView' %]
</script>