@using Insite.WebFramework.Mvc.Extensions
@model Insite.Cart.Content.SavedOrderDetailPage

<div class="row main-row ma-saved-order-details">
    <div class="large-12 columns">
        @Html.Zone(Model, "Content")
    </div>
</div>