<div id="removeCardErrorPopup" class="reveal-modal address-error-popup" data-reveal data-reveal-init>
    <div class="modal-wrap">
        <p class="messaging">
            <span>[% siteMessage 'Unable_To_Delete_CC' %]</span>            
        </p>       
        <a id="errorPopupCloseButton" class="close-reveal-modal">&#215;</a>
    </div>
</div>