@using Insite.WebFramework.Mvc.Extensions
@model  dynamic

<div class="row main-row ma-wishlist">
    <div class="large-12 columns">
        @System.Web.Mvc.Html.HtmlHelperExtensions.Zone(Html, Model, "Content")
    </div>
</div>