@using Insite.WebFramework.Mvc.Extensions
@model Insite.Account.Content.SignInPage

<div class="sign-in">
    <div class="row main-row">
        <div class="large-12 columns">
            @(Html.Zone(Model, "Content"))
        </div>
    </div>
</div>