@using Insite.WebFramework.Mvc.Extensions
@model Insite.Account.Content.CreateAccountPage

<div class="row main-row create-account">
    <div class="medium-12 large-12 columns">
        @Html.Zone(Model, "Content")
    </div>
</div>