@using Insite.WebFramework.Mvc.Extensions
@model Insite.Account.Content.ChangeCustomerPage

<div class="row main-row sign-in change-cust-ship-to">
    <div class="large-12 columns">
        @(Html.Zone(Model, "Content"))
    </div>
</div>