@using Insite.WebFramework.Mvc.Extensions
@model Insite.Account.Content.UserAdministration.UserSetupShipToPage

<div class="row main-row ma-assign-edit-shipto">
    <div class="large-12 columns">
        @(Html.Zone(Model, "Content"))
    </div>
</div>