@using Insite.WebFramework.Mvc.Extensions
@model Insite.Invoice.Content.InvoiceDetailPage

<div class="row main-row ma-invoice-details">
    <div class="large-12 columns">
        @(Html.Zone(Model, "Content"))
    </div>
</div>