<div ng-controller="OrderApprovalDetailController as vm" ng-cloak>
    <div ng-show="vm.cart">
        <div class="quote-items-note messaging" ng-if="vm.currentCart.canRequestQuote && vm.currentCart.quoteRequiredCount > 0">
            <p>[% siteMessage 'Rfq_Requires_Quote_InCartMessage' %]</p>
            <a href="[% urlFor '/Rfq/RequestQuote' %]" class="btn primary btn-yes-rfq">[% translate 'Yes, Request a Quote' %]</a>
            <a href="[% urlForPage 'HomePage' %]" class="btn primary btn-no">[% translate 'No, Continue Shopping' %]</a>
        </div>

        <!--<div class="hide-for-small back-btn">
            <a href="[% urlForPage 'OrderApprovalListPage' %]" class="btn tertiary btn-return">[% translate 'Return to Order Approval' %]</a>
        </div>-->

        <p class="error" ng-show="vm.approveOrderErrorMessage">
            <span class="field-validation-error" ng-bind="vm.approveOrderErrorMessage"></span>
        </p>

        <div class="order-details-top">
            <div class="row">
                <div class="medium-9 columns od-head">
                    <h3 class="od-lbl">[% translate 'Order Date :' %]</h3>
                    <h3 class="od-data" ng-bind="vm.cart.orderDate | date:'shortDate'"></h3>
                    <h3 class="od-lbl">[% translate 'Order #:' %]</h3>
                    <h3 id="tst_orderApprovalDetail_orderNumber" class="od-data" ng-bind="vm.cart.orderNumber"></h3>
                    <h3 class="od-lbl">[% translate 'PO #:' %]</h3>
                    <h3 class="od-data" ng-bind="vm.cart.poNumber"></h3>
                    <!-- BUSA-463 : Subscription eligible product -->
                    <div ng-if="vm.cart.properties['subscriptionFrequencyOpted']" style="display:block;">
                        <h3 class="od-lbl">
                            <a id="smartSupplyPromotionPopup" href="javascript:void(0);" data-reveal-id="smartSupplyPromotionPopupContainer">
                                <img src="/Images/userfiles/Subscription/smart-supply-mod.png" alt="Smart Supply" />
                            </a>
                            [% translate 'Frequency:' %]
                        </h3>
                        <h3 id="subsFrequencyOpted" ng-repeat="frequency in vm.frequencyMap" ng-bind="frequency.name" ng-if="frequency.value == vm.cart.properties['subscriptionFrequencyOpted']" class="od-data"></h3>
                    </div>
                    <!-- BUSA-463 : Subscription eligible product -->

                    <!--BUSA-761 SS-Add name for Smart Supply order and force users enter a name while placing order start-->
                    <div ng-if="vm.cart.properties['subscriptionName']" style="display:block;">
                        <h3 class="od-lbl">
                            [% translate 'Name of SmartSupply:' %]
                        </h3>
                        <h3 class="od-data" ng-bind="vm.cart.properties['subscriptionName']"></h3>
                    </div>
                    <!--BUSA-761 SS-Add name for Smart Supply order and force users enter a name while placing order end-->
                </div>
                <div class="medium-3 columns">
                    <a href="javascript: window.print();" class="hide-for-small btn secondary btn-print"><span class="fa fa-print font-icon"></span>[% translate 'Print' %]</a>
                </div>
            </div>
            <div class="row">
                <div class="medium-8 columns">
                    <div class="row">
                        <div class="medium-6 columns bill-info">
                            <div class="oc-head">
                                <h3>[% translate 'Billing Information' %]</h3>
                            </div>
                            <isc-address-display address="vm.cart.billTo" show-email="true"></isc-address-display>
                        </div>
                        <div class="medium-6 columns ship-info">
                            <div class="oc-head">
                                <h3>[% translate 'Shipping Information' %]</h3>
                            </div>
                            <isc-address-display address="vm.cart.shipTo" show-email="false"></isc-address-display>
                        </div>
                    </div>
                </div>
                <div class="medium-4 columns">
                    <isc-brasseler-cart-total-display cart="vm.cart" promotions="vm.promotions" order-taxes="vm.cart.customerOrderTaxes" show-separate-shipping-and-handling="true"
                                                      show-misc-charge="true" show-discount-total="true" label="'[% translate 'Order Summary' %]'">
                    </isc-brasseler-cart-total-display>

                    <div class="btns" ng-if="vm.cart">
                        <button type="button" class="btn primary btn-place-saved-order btn-place-order" id="tst_orderApprovalDetail_approveOrder" ng-if="vm.account.canApproveOrders" ng-click="vm.approveOrder('[% urlForPage 'CartPage' %]')">[% translate 'Approve Order' %]</button>
                        <button id="orderApprovalDetailViewCancelOrderButton" type="button" class="btn primary btn-place-saved-order btn-cancel-order" ng-if="vm.account.canApproveOrders" ng-click="vm.cancelOrder('[% urlForPage 'OrderApprovalListPage' %]')"><i class="foundicon-remove"></i> Cancel Order</button>
                    </div>
                </div>
            </div>
        </div>

        
        <div>
            <ul class="large-12 columns item-list cart-items">
                <li class="row item-block checkout-item" ng-repeat="cartLine in vm.cart.cartLines">
                    <isc-product-thumb product="cartLine"></isc-product-thumb>

                    <div class="small-9 columns product-details">
                        <span ng-if="cartLine.isPromotionItem && editable"> [% siteMessage 'Cart_PromotionalItem' EscapeSingleQuotes %]</span>
                        <div class="product-name">
                            <a id="cartLinesProductShortDescriptionLink_{{$index}}" ng-href="{{cartLine.productUri}}">
                                <u><h3 ng-bind="cartLine.shortDescription"></h3></u>
                            </a>
                            <span ng-if="!cartLine.isFixedConfiguration" ng-repeat="sectionOption in cartLine.sectionOptions">
                                <br /> <span ng-bind="sectionOption.sectionName + ':' + sectionOption.optionName"></span>
                            </span>
                        </div>

                        <div>
                            <isc-product-name product="cartLine" no-link="true"></isc-product-name>
                        </div>
                        <div>
                            <div ng-show="cartline.includeInventory && !cartLine.quoteRequired" class="product-availability">
                                <disc-product productid="{{cartLine.productId.toString()}}"></disc-product>
                                <div class="original-value" style='display: none'>
                                    <isc-availability-message availability="cartLine.availability"></isc-availability-message>
                                </div>
                                <div class="discountinued-value" style='display: none'>
                                    <span>[% translate "Discontinued" %]</span>
                                </div>
                            </div>

                            <div class="product-cost">
                                <isc-product-price product="cartLine" update-data="vm.updatePrice()"></isc-product-price>

                                <isc-unit-of-measure-display product="cartLine"> </isc-unit-of-measure-display>
                                <div class="quantity-pricing">
                                    <isc-quantity-break-pricing product-id="cartLine.id" break-prices="cartLine.breakPrices"></isc-quantity-break-pricing>
                                </div>
                                <div class="item-opt">
                                    <div class="item-qty qty-box">
                                        <span class="new-qty">[% translate "QTY_quantity" %]</span>
                                        <input id="cartLinesQuantutyInputEditable_{{$index}}"
                                               name="cartLinesQuantutyInputEditable_{{$index}}"
                                               type="text"
                                               class="numerictextbox qty txt"
                                               ng-model="cartLine.qtyOrdered"
                                               ng-keypress="vm.quantityKeyPress($event,cartLine)"
                                               ng-change="vm.updateLine(cartLine, true,'[% urlForPage 'OrderApprovalListPage' %]')"
                                               ng-model-options="{ updateOn: 'blur' }" style="width:43px;text-align:center">
                                    </div>
                                    <div class="item-subtotal"><span ng-if="!cartLine.quoteRequired" ng-bind="cartLine.pricing.extendedActualPriceDisplay"></span></div>
                                </div>
                                <div class="remove item-opt small-6">
                                    <a id="cartLinesBtnRemoveButton_{{$index}}" class="btn btn-remove" ng-click="vm.removeLine(cartLine, '[% urlForPage 'OrderApprovalListPage' %]')">
                                        <i class="foundicon-remove"></i>&nbsp;&nbsp;[% translate "Remove" %]
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!--
            <div class="row order-details">
                <isc-cart-lines cart="vm.cart" include-quote-required="true" class="medium-12 large-12 columns item-list cart-items"></isc-cart-lines>
            </div>
        -->
        <!-- <isc-cart-total-display cart="vm.cart" order-taxes="vm.cart.customerOrderTaxes"></isc-cart-total-display> -->    </div>
    <div ng-show="vm.validationMessage">
        {{vm.validationMessage}}
    </div>
</div>

<script type="text/ng-template" id="/PartialViews/Account-AddressDisplay">
    [% partialView 'Account-AddressDisplay' %]
</script>
<script type="text/ng-template" id="/PartialViews/Cart-CartLines">
    [% partialView 'Cart-CartLines' %]
</script>
<script type="text/ng-template" id="/PartialViews/Cart-CartTotalDisplay">
    [% partialView 'Cart-CartTotalDisplay' %]
</script>