@using Insite.WebFramework.Mvc.Extensions
@model Insite.OrderApproval.Content.OrderApprovalListPage

<div class="row main-row ma-order-approval">
    <div class="large-12 columns">
        @(Html.Zone(Model, "Content"))
    </div>
</div>