@model Insite.Catalog.Content.ProductDetailPage
@using System.Web.Optimization
@using Insite.WebFramework.Mvc.Extensions

<div class="row main-row product-detail">
    <div class="large-12 columns">
        @Html.Zone(Model, "Content")
    </div>
</div>