@using InSiteCommerce.Brasseler.ContentLibrary.Pages
@using Insite.WebFramework.Mvc
@using Insite.WebFramework.Mvc.Extensions
@model InSiteCommerce.Brasseler.ContentLibrary.Pages.BrasselerOutstandingInvoicesListPage

<div class="row main-row outstanding-list">
    <div class="medium-12 large-12 columns">
        @Html.Zone(Model, "Content")
    </div>
</div>

