@using Insite.WebFramework.Mvc.Extensions
@model Insite.Requisition.Content.RequisitionPage

<div class="row main-row ma-requisition-approval">
    <div class="large-12 columns">
        @Html.Zone(Model, "Content")
    </div>
</div>