@using InSiteCommerce.Brasseler.ContentLibrary.Pages
@using Insite.WebFramework.Mvc
@using Insite.WebFramework.Mvc.Extensions
@model InSiteCommerce.Brasseler.ContentLibrary.Pages.BrasselerOutstandingInvoicesDetailPage

<div class="row main-row outstanding-detail ma-invoice-details">
    <div class="large-12 columns">
        @Html.Zone(Model, "Content")
    </div>
</div>

