<div id="sampleproduct" class="reveal-modal sampleproduct" data-reveal data-reveal-init>
        <div class="modal-wrap">
            <div>
                <span ng-bind-html="message"></span>
            </div>
            <a class="close-reveal-modal">&#215;</a>
        </div>
</div>




