@using Insite.WebFramework.Mvc.Extensions
@model Insite.Budget.Content.BudgetPage

<div class="row main-row cms-rearrangeable ma-budget-management bm-setup">
    <div class="medium-12 large-12 columns">
        @Html.Zone(Model, "Content")
    </div>
</div>