.ma-saved-order-details .item-list {
  border: 1px solid #E0E0E0;
}
.ma-saved-order-details .item-list .item-block .product-details {
  width: 75%;
  padding-right: 15px;
  left: 0;
}
.ma-saved-order-details .item-list .item-block .product-details .product-name h3 {
  margin-top: 0;
}
.ma-saved-order-details .item-list .item-block .product-details .product-cost {
  color: inherit;
  font-size: 16px;
}
.ma-saved-order-details .item-list .item-block .product-details .product-cost .price-sale, .ma-saved-order-details .item-list .item-block .product-details .product-cost .price-old {
  display: inline-block;
}
.ma-saved-order-details .item-list .item-block .product-details .product-sku .item-num-sku {
  color: #8a8a8a;
}
.ma-saved-order-details .item-list .item-block .product-details .summary-block {
  display: flex;
}
.ma-saved-order-details .item-list .item-block .product-details .summary-block .product-cost {
  width: 100%;
  margin: auto;
}
.ma-saved-order-details .item-list .item-block .product-details .summary-block .item-opt {
  display: flex;
  line-height: inherit;
  width: 70%;
}
.ma-saved-order-details .item-list .item-block .product-details .summary-block .item-opt .item-qty {
  margin-bottom: 0;
}
.ma-saved-order-details .item-list .item-block .product-details .summary-block .item-opt .item-qty .numerictextbox {
  margin-left: 5px;
  margin-right: 15px;
}
.ma-saved-order-details .item-list .item-block .product-details .summary-block .item-opt .item-subtotal {
  margin: 8px 0;
  font-weight: bold;
  min-width: 0;
}
.ma-saved-order-details .item-list .item-block .product-details .summary-block .remove {
  display: inline-block;
  width: 40%;
}
.ma-saved-order-details .item-list .item-block .product-details .summary-block .remove .btn-remove {
  background-color: transparent;
}
.ma-saved-order-details .item-list .item-block .product-details .summary-block .remove .btn-remove .foundicon-remove {
  border: 1px solid #636363;
  border-radius: 50px;
  display: inline-block;
  margin-right: 4px;
  width: 20px;
  height: 20px;
  font-size: 12px;
}
.ma-saved-order-details .order-subtotal {
  border: 1px solid #dcdcdc;
  margin-bottom: 21px;
  margin-top: 24px;
  width: 100%;
}
.ma-saved-order-details .order-subtotal .sub-label, .ma-saved-order-details .order-subtotal .sub-amount {
  font-size: 14px;
}
.ma-saved-order-details .order-details-top .od-head h3 {
  width: auto;
  margin: 0;
  padding-left: 15px;
  padding-right: 0;
}
.ma-saved-order-details .order-details-top .btns .btn-place-saved-order {
  width: 100%;
  background-color: #00359c;
}
.ma-saved-order-details .order-details-top .btns .btn-delete-saved-order {
  background: transparent;
  color: #636363;
  width: 100%;
  margin-bottom: 0;
  padding-bottom: 0;
}
.ma-saved-order-details .order-details-top .btns .btn-delete-saved-order .foundicon-remove {
  border: 1px solid #636363;
  border-radius: 50px;
  display: inline-block;
  margin-right: 4px;
  width: 20px;
  height: 20px;
  font-size: 12px;
}
.ma-saved-order-details .order-details-top .btns .btn-delete-saved-order .foundicon-remove::before {
  content: "\e000";
  font-size: 0.7em;
}
.ma-saved-order-details .order-details-top .summary-top {
  display: inline;
}
.ma-saved-order-details .order-details-top .summary-top .action-btn {
  float: right;
  padding-right: 15px;
}
.ma-saved-order-details .order-details-top .summary-top .action-btn .btn-wishlist, .ma-saved-order-details .order-details-top .summary-top .action-btn .btn-print {
  background-color: #fff;
  color: #0035a2;
  font-weight: 400;
  margin-left: 15px;
  margin-bottom: 0;
  padding: 0;
}
.ma-saved-order-details .order-details-top .summary-top .action-btn .font-icon {
  margin-right: 5px;
}

@media print {
  .ma-saved-order-details .btn-print-saved-order, .ma-saved-order-details .remove {
    display: none !important;
  }
  .ma-saved-order-details .page-title {
    margin: 0;
  }
  .ma-saved-order-details .item-list .item-block {
    padding-bottom: 20px;
  }

  .top-nav-container [role="secondary-nav"] {
    display: none !important;
  }

  header#header {
    display: block !important;
    margin-top: 10px !important;
  }
  header#header .head-row .isc-nav-bar, header#header .head-row .search-container {
    display: none;
  }
}
@media screen and (min-width: 280px) and (max-width: 767px) {
  .ma-saved-order-details .item-list .item-block .product-details .summary-block {
    display: block;
  }
  .ma-saved-order-details .item-list .item-block .product-details .summary-block .product-cost {
    margin-top: 10px;
  }
  .ma-saved-order-details .item-list .item-block .product-details .summary-block .item-opt {
    width: 100%;
    display: block;
    padding: 0;
    margin-top: 10px;
  }
  .ma-saved-order-details .item-list .item-block .product-details .summary-block .item-opt .item-qty {
    float: left;
  }
  .ma-saved-order-details .item-list .item-block .product-details .summary-block .item-opt .item-qty .numerictextbox {
    width: 90px !important;
  }
  .ma-saved-order-details .item-list .item-block .product-details .summary-block .item-opt .item-subtotal {
    float: left;
    margin-top: 10px;
  }
  .ma-saved-order-details .item-list .item-block .product-details .summary-block .remove {
    width: 100%;
    float: left;
    text-align: left;
  }
  .ma-saved-order-details .item-list .item-block .product-details .summary-block .remove .btn-remove {
    padding-left: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .ma-saved-order-details .item-list .item-block .product-details .summary-block {
    margin-bottom: 10px;
  }
  .ma-saved-order-details .item-list .item-block .product-details .summary-block .product-cost {
    width: 75%;
  }
  .ma-saved-order-details .item-list .item-block .product-details .summary-block .item-opt {
    width: 100%;
  }
  .ma-saved-order-details .item-list .item-block .product-details .summary-block .remove {
    width: 65%;
  }
}

/*# sourceMappingURL=brasseler-ma-saved-order-details.css.map */
