.AddNewCardContainer {
  position: relative;
}
.AddNewCardContainer.reveal-modal {
  position: absolute;
}
.AddNewCardContainer.reveal-modal .modal-wrap {
  width: 800px;
  margin-top: 96px;
  margin-bottom: 96px;
  /*.addressOptions{
      .billto-selector{} 
  }*/
}
@media all and (min-width: 768px) {
  .AddNewCardContainer.reveal-modal .modal-wrap .card-type.medium-6, .AddNewCardContainer.reveal-modal .modal-wrap .card-name.medium-6, .AddNewCardContainer.reveal-modal .modal-wrap .card-num.medium-6 {
    width: 47%;
  }
}
@media all and (max-width: 767px) {
  .AddNewCardContainer.reveal-modal .modal-wrap .card-type.small-12, .AddNewCardContainer.reveal-modal .modal-wrap .card-name.small-12, .AddNewCardContainer.reveal-modal .modal-wrap .card-num.small-12 {
    width: 100%;
  }
}
.AddNewCardContainer.reveal-modal .modal-wrap .exp-date {
  display: inline-block;
  width: 100%;
}
.AddNewCardContainer.reveal-modal .modal-wrap .exp-date .security-code {
  padding: 0px;
  position: relative;
  bottom: 26px;
}
@media all and (max-width: 767px) {
  .AddNewCardContainer.reveal-modal .modal-wrap .exp-date .security-code {
    top: -5px;
  }
}
.AddNewCardContainer.reveal-modal .modal-wrap .exp-date .security-code .securityCode {
  height: 2.6em;
}
.AddNewCardContainer.reveal-modal .modal-wrap .exp-date .exp-month {
  padding: 0px;
}
@media all and (max-width: 767px) {
  .AddNewCardContainer.reveal-modal .modal-wrap .exp-date .exp-year {
    padding: 0px;
  }
}
.AddNewCardContainer.reveal-modal .modal-wrap .address-options .address-1, .AddNewCardContainer.reveal-modal .modal-wrap .address-options .address-2, .AddNewCardContainer.reveal-modal .modal-wrap .address-options .country, .AddNewCardContainer.reveal-modal .modal-wrap .address-options .state, .AddNewCardContainer.reveal-modal .modal-wrap .address-options .city, .AddNewCardContainer.reveal-modal .modal-wrap .address-options .zipcode, .AddNewCardContainer.reveal-modal .modal-wrap .address-options .email, .AddNewCardContainer.reveal-modal .modal-wrap .address-options .phone {
  padding: 0px;
}
.AddNewCardContainer.reveal-modal .modal-wrap .address-options .address-1, .AddNewCardContainer.reveal-modal .modal-wrap .address-options .country, .AddNewCardContainer.reveal-modal .modal-wrap .address-options .city, .AddNewCardContainer.reveal-modal .modal-wrap .address-options .email {
  padding-right: 1.25em;
}
@media all and (max-width: 767px) {
  .AddNewCardContainer.reveal-modal .modal-wrap .address-options .address-1, .AddNewCardContainer.reveal-modal .modal-wrap .address-options .country, .AddNewCardContainer.reveal-modal .modal-wrap .address-options .city, .AddNewCardContainer.reveal-modal .modal-wrap .address-options .email {
    padding-right: 0px;
  }
}
@media all and (min-width: 768px) {
  .AddNewCardContainer.reveal-modal .modal-wrap .address-options .addressOptions.medium-6 {
    width: 47%;
  }
}
.AddNewCardContainer.reveal-modal .modal-wrap .close-reveal-modal {
  right: 0px;
  top: 5px;
}
@media all and (max-width: 767px) {
  .AddNewCardContainer.reveal-modal .modal-wrap .close-reveal-modal {
    right: 10px;
    top: 7px;
    font-size: 1.6em;
  }
}
.AddNewCardContainer .error {
  padding: 10px 0;
}
@media all and (max-width: 767px) {
  .AddNewCardContainer .error {
    padding: 5px;
  }
}

.payment-options .info-tbl th {
  padding: 1em .7em;
}
.payment-options .info-tbl .btn-save {
  color: white !important;
  background-color: #00359c !important;
  width: 105px;
  display: none;
  margin-bottom: 10px;
}
.payment-options .info-tbl .btn-cancel {
  color: white !important;
  background-color: #00359c !important;
  width: 105px;
  display: none;
}
.payment-options .info-tbl .edit {
  color: white !important;
  background-color: #55565a;
  width: 105px;
}
.payment-options .info-tbl .set-default {
  color: white !important;
  background-color: #00359c !important;
}
.payment-options .info-tbl .btn-default {
  color: white !important;
  background-color: #ff0000 !important;
  width: 105px;
}

.error-message {
  color: red;
}

/* Payement options mobile*/
@media screen and (min-width: 320px) and (max-width: 767px) {
  .overflow-table .info-tbl tbody tr th:first-child:before {
    height: 63px;
  }
  .overflow-table .info-tbl tbody tr th.edit-click:before {
    height: 158px;
  }
}

/*# sourceMappingURL=brasseler-payment-options.css.map */
