.ma-static-list {
    .cart-items {
        .item-block {
            .item-details {
                float: left;
            }
        }
    }
}

.wishlist-modal {
    .modal-wrap {
        max-width: 540px;
    }
}
.pop-allpurpose {
    .modal-wrap {
        max-width: 480px;
    }
}