@using Insite.WebFramework.Mvc.Extensions
@model Insite.Order.Content.OrderStatusPage

<div class="row main-row order-status ma-order-details">
    <div class="large-12 columns">
        @Html.Zone(Model, "Content")
    </div>
</div>