<div>
    <div id="balancePopup" class="reveal-modal address-error-popup" data-reveal data-reveal-init>
        <div class="modal-wrap">
            <p class="messaging">
                <span> [% translate 'BalancePopup' %]</span>
            </p>
            <a id="errorPopupCloseButton" class="close-reveal-modal">&#215;</a>
        </div>
    </div>
</div>