@using Insite.WebFramework.Mvc.Extensions
@model Insite.Account.Content.UserAdministration.UserSetupPage

<div  id="tst_userSetupPage" class="row main-row ma-user-setup">
    <div class="large-12 columns">
        @(Html.Zone(Model, "Content"))
    </div>
</div>