@using Insite.WebFramework.Mvc.Extensions
@model Insite.Rfq.Content.RfqRequestQuotePage

<div class="row main-row rfq-form">
    <div class="medium-12 large-12 columns">
        @Html.Zone(Model, "Content")
    </div>
</div>