@using Insite.WebFramework.Mvc.Extensions
@model Insite.WishLists.Content.MyListsPage

<div class="row main-row ma-my-lists">
    <div class="large-12 columns">
        @Html.Zone(Model, "Content")
    </div>
</div>